<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact Josh however you need. He's on <a href="https://twitter.com/josh_works">Twitter</a>, or his website <a href="http://josh.works/">www.josh.works</a>, or at thompsonjoshd at gmail's popular email service.
</p>