<% provide(:title, "Contact") %>
	<h1>Sample App</h1>
	<p>
	  This is the contact page for the
	  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application. Hit me up at <a href="https://twitter.com/josh_works">@josh_works</a>
	</p>
